section {
    width: 100vw;
}

h2 {
    margin: 2%;
    border-bottom: 1px solid white;
    text-shadow: 1px 1px 2px rgb(223, 221, 221);
}

h3 {
    margin: 1%;
}

#cartSection {
    margin-bottom: 5%;
    padding: 2%;
    background-color: rgb(19, 18, 18);
}

h5 {
    color: rgb(190, 190, 190);
}

a {
    color: white;
    text-decoration: none;
}

#submitCart {
    margin-top: 5%;
    button {
        background-color: rgb(58, 56, 56);
        box-shadow: white inset 2px;
        padding: 1.5%;
    }
}

aside {
    margin-top: 5%;
    border-top: 1px solid white;
    padding-top: 3%;
}

@media screen and (min-width: 1200px) {
    #cartSection {
        margin-bottom: 2%;
        padding: 1%;
    }

    #submitCart {
        margin-top: 2%;
        button {
            padding: 1%;
        }
    }

    aside {
        margin-top: 1%;
        padding-top: 1%;
    }
}