<section>
    <h2>Varukorg</h2>

    <h3>Dina varor: </h3>

    <section id="cartSection" *ngFor="let p of cartProduct; let i = index">
        <!-- <div *ngIf="this.product[i].name == cartProduct.name"> -->
            <h4> Titel: {{ p.name }} </h4>
            <h4> Pris: {{ p.price }} </h4>
        <!-- </div> -->
    </section>

    <a [routerLink]="['/product']" routerLinkActive="active">Fortsätt <b>handla ↩</b></a>

    <div id="submitCart">
        <button><a [routerLink]="['/checkout']" routerLinkActive="active">Gå vidare till betalning</a></button>
    </div>
</section>