section {
    width: 100vw;
}

h2 {
    margin: 2%;
}

h3 {
    margin: 1%;
}

#cartSection {
    margin-bottom: 5%;
    padding: 2%;
    background-color: rgb(19, 18, 18);
}

h5 {
    color: rgb(190, 190, 190);
}

a {
    color: white;
    text-decoration: none;
}

#submitCart {
    margin-top: 10%;
    button {
        background-color: rgb(58, 56, 56);
        box-shadow: white inset 2px;
        padding: 1.5%;
    }
}

aside {
    margin-top: 8%;
}