<section>
    <h2> 👨‍💻 Hej Administratör 👩‍💻 </h2>
    <h3> Här är alla ordrar som är gjorda: </h3>

    <div *ngFor="let o of order; let i = index">
        <h4>ID: {{ o.id }} </h4>
        <p><b>Skapad:</b> {{ o.created | date: "medium" }} </p>
        <p><b>Kund: </b> {{ o.createdBy }} </p>
        <p><b> Betalningssätt:</b> {{ o.paymentMethod }} </p>
        <p><b>Belopp: </b> {{ o.totalPrice }} kronor</p>
        <p><b>Status: </b> {{ o.status }} </p>
        <p><b>Orderrader:</b> {{ o.orderRows | json }} </p>
        <button (click)="deleteOrder(o.id)">Ta bort order</button>
    </div>
</section>