section {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#newsText {
    height: 15vh;
    background-color: rgb(95, 95, 95);
}

div {
    width: 40%;
    height: 290px;
    margin: 2%;
    text-align: center;
}

img {
    width: 200px;
    height: 250px;
}