<section id="newsText">
    <h2>Bästsäljare</h2>
    <a [routerLink]="['/product']" routerLinkActive="active">Se alla produkter</a>
</section>

<section *ngIf="productsRead">
    <div>
        <h3> {{ product[0].name }} </h3>
        <img src="{{ product[0].imageUrl }}">
    </div>

    <div>
        <h3> {{ product[17].name }} </h3>
        <img src="{{ product[17].imageUrl }}">
    </div>

    <div>
        <h3> {{ product[9].name }} </h3>
        <img src="{{ product[9].imageUrl }}">
    </div>

    <div>
        <h3> {{ product[13].name }} </h3>
        <img src="{{ product[13].imageUrl }}">
    </div>
</section>