section {
    width: 100vw;
}

div {
    margin-top: 8%;
}

h2 {
    text-shadow: 1px 1px 2px rgb(223, 221, 221);
}

a {
    color: white;
    text-decoration: none;
    &.active {
        text-decoration: underline;
    }
}