section {
    width: 100vw;
}

h2 {
    margin-bottom: 2%;
}

#divGenre {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    cursor: pointer;
}

img {
    width: 200px;
    height: 250px;
}