<section>
    
    <div id="divHeading">
        <h2>Alla filmer</h2>
        <a [routerLink]="['/search']" routerLinkActive="active">Sök 🔍</a>
    </div>

    <div *ngFor="let p of product; let i = index">
        <h3> {{ p.name | titlecase }} </h3>
        <img src="{{ p.imageUrl }}">
        <p> {{ p.price }} kronor </p>
        <a [routerLink]="['/product', p.id]" routerLinkActive="active">Läs mer</a>
        <button>
            <a (click)="addToCart(i)" [routerLink]="['/shopping-cart']" routerLinkActive="active">Köp</a>
        </button>
    </div>


    <div>
        
        <h3> {{ mockProduct[0].name | titlecase }} </h3>
        <img src="{{ mockProduct[0].imageUrl }}">
        <p> {{ mockProduct[0].year }} </p>
        <p> {{ mockProduct[0].price }} kronor </p>
    </div>
</section>
