h1 {
    text-shadow: 1px 3px 5px rgb(105, 105, 105);
}

ul {
    display: flex;
    padding: 2%;
    justify-content: flex-end;
    gap: 4%;
    li {
        list-style-type: none;
        margin-top: 1vh;
        a {
            text-decoration: none;
            color: white;
            text-shadow: 1px 3px 5px rgb(17, 17, 17);
            &.active {
                color: rgb(145, 141, 141);
                font-weight: bold;
            }
        }
    }
}

li:hover {
    text-decoration: underline;
}