section {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div {
    width: 40%;
    height: 350px;
    margin: 4%;
    text-align: center;
}

#divInput {
    width: 100vw;
    height: fit-content;
}

img {
    width: 200px;
    height: 250px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    &.active {
        text-decoration: underline;
    }
}