<section>
    <div id="divInput">
        <h2>Vad söker du efter?</h2>
        <p>Skriv titel eller början på en titel (minst tre tecken)</p>
        <input type="text" placeholder="Sök" #search (input)="inputText(search.value)">
        <div id="divCategory">
            <p>Vill du hellre söka efter en viss genre? 
                <a [routerLink]="['/category']" routerLinkActive="active">Klicka här</a>
            </p>
        </div>
    </div>

    <div *ngFor="let product of searchProduct | async">
        <h3> {{ product.name }} </h3>
        <img src="{{ product.imageUrl }}">
    </div>

    <div id="backToProducts">
        <a [routerLink]="['/product']" routerLinkActive="active">Tillbaka till alla produkter ↩</a>
    </div>
</section>
