<section>
    <h2>Din beställning</h2>

    <div>
        <h3 *ngIf="totalAmount > 0"> Total summa {{ totalAmount }} kronor</h3>
        <h3 *ngIf="totalAmount == 0"> Du har inte valt några varor
            <a [routerLink]="['/product']" routerLinkActive="active">Fortsätt handla ↩</a>
        </h3>
    </div>

    <form [formGroup]="orderForm">
        <label for="firstName">Förnamn: </label><br>
        <input id="firstName" type="text" formControlName="firstName" placeholder="Obligatoriskt">
        
        <div *ngIf="orderForm.get('firstName')?.invalid && orderForm.get('firstName')?.touched">
            <p *ngIf="orderForm.get('firstName')?.errors?.['required']">Vänligen ange ditt förnamn</p>
        </div>
        
        <br><br>

        <label for="lastName">Efternamn: </label><br>
        <input id="lastName" type="text" formControlName="lastName" placeholder="Obligatoriskt">
        
        <div *ngIf="orderForm.get('lastName')?.invalid && orderForm.get('lastName')?.touched">
            <p *ngIf="orderForm.get('lastName')?.errors?.['required']">Vänligen ange ditt efternamn</p>
        </div>

        <br><br>

        <label for="address">Adress: </label><br>
        <input id="address" type="text" formControlName="address" placeholder="Obligatoriskt">

        <div *ngIf="orderForm.get('address')?.invalid && orderForm.get('address')?.touched">
            <p *ngIf="orderForm.get('address')?.errors?.['required']">Vänligen ange din adress</p>
        </div>

        <br><br>

        <button type="submit" (click)="submitOrder()" [disabled]="orderForm.invalid">Beställ</button>
    </form>

</section>
